APP_ENV=prod

SAVE_MODE=bq

GCP_PROJECT_ID=ml-nba-project
BIGQUERY_DATASET=nba_dataset

MODEL_REGISTRY_URI=gs://your-bucket/models
MODEL_FILENAME=best_lgbm_model.pkl

# Optionally set proxy secrets via Cloud Run -> Secret Manager
# NBA_PROXY_USER=
# NBA_PROXY_PASS=

