APP_ENV=dev

SAVE_MODE=local

GCP_PROJECT_ID=dev-project
BIGQUERY_DATASET=nba_dataset

MODEL_REGISTRY_URI=ml_dev/models
MODEL_FILENAME=best_lgbm_model.pkl

# Local runs don't need proxy
# NBA_PROXY_USER=
# NBA_PROXY_PASS=

